body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

#gisaid {
  display:flex;
  align-items:center;
  font-size:24px;
  padding-top: 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
/* base bar*/
.bar {
  padding: 10px;
  margin: 10px;
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
}

/* bar variations */
.info {
  color: #204a8e;
  background: #c9ddff;
  border: 1px solid #4c699b;
}
.info a{
  color: #204a8e;
}
.success {
  color: #2b7515;
  background: #ecffd6;
  border: 1px solid #617c42;
}
.warn {
  color: #756e15;
  background: #fffbd1;
  border: 1px solid #87803e;
}
.error {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}
